//Sizings

$font-size-large: 6rem;
$font-size-medium: 4rem;
$font-size-small: 3.5rem;
$font-size-default: 1.8rem;

//animation timings

$cubic-slow-start: .9,.8,.6,.2;
$cubic-fast-start: .2,.1,.4,.7;


//project-specifics

//colours

$white-500: #f2f2f2;
$white-400: #fff;
$white-300: #fefefc;

$grey-500: #56534c;
$grey-400: #464746;

$brown-400: #a47d5e;
$brown-300: #dfc691;